set ignorecase
set smartcase
set wrapscan
set hlsearch
set incsearch

set showmatch matchtime=1
set cmdheight=2
set laststatus=2
set showcmd

set clipboard=unnamed
set listchars=tab:^\ ,trail:~

set tabstop=2
set softtabstop=2
set shiftwidth=2
set expandtab
set smarttab

map <C-r> :action Run<CR>
map <C-PageUp> :tabprev<CR>
map <C-PageDown> :tabnext<CR>
